---
import Layout from "../layouts/Layout.astro"
const hasOverflow = true;
const page = "google"
---

<Layout hasOverflow={hasOverflow} page={page} title="google">
    <div>
        google-site-verification: googlecd5b0227a7278aa0.html    
    </div>

</Layout>