---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import LandingHeader from '../components/LandingHeader.astro';

const hasOverflow = false;

const logos = [
	"css",
	"html",
	"javascript",
	"mongodb",
	"astro",
	"node",
	"postgresql",
	"react",
	"tailwind",
	"typescript",
	
]
---

<Layout hasOverflow={hasOverflow} page="home" title="Home">
	<LandingHeader />
	<div id="logo-container" class="bottom-0 fixed hidden z-0">
		{logos.map((logo) => <Logo logo={logo} />)}
	</div>
</Layout>
