
<footer class="relative flex justify-end w-full py-5 px-10 bottom-0 z-10">
    <nav>
        <ul class="flex text-white text-2xl gap-4">
            <li class="hover:bg">
                <a href="https://twitter.com/Tomychi1" target="_blank">
                    <i class="icons-hover fa fa-brands fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/tomychi" target="_blank">
                    <i class="icons-hover fa fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/tom%C3%A1s-arcostanzo-4a1b50162/" target="_blank">
                    <i class="icons-hover fa fa-brands fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </nav>

    <style>
        .icons-hover:hover {
            color: var(--hot-red);
            transform: scale(1.2);
        }
    </style>
</footer>