<div class="relative flex flex-col z-20 rounded p-4">
    <div class="relative overflow-y-hidden z-10">
        <span class="block text-2xl reveal-secondary"
            >Hi, I'm <b>Tomas Arcostanzo</b> and I make sites...</span
        >
    </div>

    <div class="relative overflow-x-hidden z-20">
        <h1 class="block uppercase font-raleway font-bold">
            <span class="shadow-underline">welcome</span>
            🦩
        </h1>
    </div>
</div>
<style>
    .shadow-underline {
        color: #fff;
        animation: .3s 1s text-shadow-reveal forwards;
    }
    h1 {
        animation: 0.5s reveal-main forwards;
        animation-delay: 0.5s;
        transform: translateX(-110%);
    }
    .reveal-secondary {
        animation: 1s reveal-secondary;
    }
    @keyframes reveal-secondary {
        from {
            transform: translateY(-110%);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes reveal-main {
        from {
            transform: translateX(-110%);
        }
        to {
            transform: translateX(0);
        }
    }
    @keyframes text-shadow-reveal {
        from {
            text-shadow: 0 0 0 var(--hot-red);
        }
        to {
            text-shadow: 4px 4px 0 var(--hot-red);
        }
    }


</style>